﻿@{
    ViewBag.Title = "About";
}

<!-- Page Content -->
<div class="container">
    <section class="about" id="about">
        <!-- Page Heading/Breadcrumbs -->
        <div>
            <ol class="breadcrumb" style="background-color:transparent;">
                <li class="breadcrumb-item">
                    <a href="@Url.Action("index", "Home")">
                        <img class="active" src="@Url.Content("~/Images/home_icon2.png")">
                    </a>
                </li>
                <li class="breadcrumb-item active">About MindVictoria</li>
            </ol>
        </div>
        <!-- Intro Content -->
        <div class="row">
            <div class="col-lg-7 col-md-12 col-sm-12">
                <h2 class="about_h">MindVictoria Project</h2>
                <p class="about_font">MindVictoria is a project aiming at helping people who are concerned with international students who are struggling with stress, anxiety and loneliness in VIC.</p>
                <p class="about_font">
                    We provide art spaces, sports and mental health relevant information such as mental health services and tips for you to help your international student friend  get engaged in a more bright world!!!
                    Whether you are new to melbourne or a person who does not know how to help your international friend get out of negative mood, welcome to visit MindVictoria to have fun and give feedback for our project.
                </p>
            </div>
            <div class="col-lg-5 col-md-12 col-sm-12">
                <img src="@Url.Content("~/Images/banners/about_banner1.jpg")" alt="About us">
            </div>
        </div>
    </section>
    </div>
    <!-- /.row -->

