﻿@{
    ViewBag.Title = "HelpLine";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<div class="container">
    <div class="col-lg-12 col-md-12">
        <img style="width:100%;" src="@Url.Content("~/Images/banners/help_banner.jpg")">
    </div>
    <div>
        <ol class="breadcrumb" style="background-color:transparent;">
            <li class="breadcrumb-item">
                <a href="@Url.Action("index", "Home")">
                    <img class="active" src="@Url.Content("~/Images/home_icon2.png")">
                </a>
            </li>
            <li class="breadcrumb-item active">Helplines</li>
        </ol>
    </div>
    <div class="col-lg-8 col-md-8" id="slide_div1">
        <div class="card">
            <p class="card__distance">&nbsp;</p>
            <h2 class="card-title" style="color:orangered; font:bold;">
                Headspace
            </h2>
            <div class="card-body">
                <p class="card-text">
                    Headspace is a confidential, free and secure space where young people 12 - 25 or their family can chat, email or speak on the phone with a qualified youth mental health professional.
                </p>
                <p class="card-text">
                    <h4>
                        Call 1800 650 890
                    </h4>
                </p>
            </div>
            <p class="card__distance">&nbsp;</p>
        </div>
    </div>
    <div class="col-lg-8 col-md-8" id="slide_div2">
        <div class="card">
            <p class="card__distance">&nbsp;</p>
            <h2 class="card-title" style="color:orangered; font:bold;">
                Butterfly's National Helpline
            </h2>
            <div class="card-body">
                <p class="card-text">
                    The Butterfly Foundation’s National Helpline, ED HOPE, is a free and confidential service which provides information, counselling and treatment referral for eating disorders, disordered eating, body image and related issues.
                </p>
                <p class="card-text">
                    <h4>
                        Call 1800 33 4673, 8am – midnight AEST / 7 days a week.

                    </h4>
                </p>
            </div>
            <p class="card__distance">&nbsp;</p>
        </div>
    </div>
    <div class="col-lg-8 col-md-8" id="slide_div3">
        <div class="card">
            <p class="card__distance">&nbsp;</p>
            <h2 class="card-title" style="color:orangered; font:bold;">
                Suicide Call Back Service
            </h2>
            <div class="card-body">
                <p class="card-text">
                    SANE Australia provides support, training and education enabling those with a mental illness to lead a better life.
                </p>
                <p class="card-text">
                    <h4>
                        Call 1800 18 7263, 9am-5pm AEST (Mon-Fri)
                    </h4>
                </p>
            </div>
            <p class="card__distance">&nbsp;</p>
        </div>
    </div>
    <div class="col-lg-8 col-md-8" id="slide_div4">
        <div class="card">
            <p class="card__distance">&nbsp;</p>
            <h2 class="card-title" style="color:orangered; font:bold;">
                Lifeline
            </h2>
            <div class="card-body">
                <p class="card-text">
                    Lifeline provides 24-hour crisis counseling, support groups and suicide prevention services.
                </p>
                <p class="card-text">
                    <h4>
                        Call 13 11 14
                    </h4>
                </p>
            </div>
            <p class="card__distance">&nbsp;</p>
        </div>
    </div>
    <div class="col-lg-8 col-md-8" id="slide_div5">
        <div class="card">
            <p class="card__distance">&nbsp;</p>
            <h2 class="card-title" style="color:orangered; font:bold;">
                Beyondblue
            </h2>
            <div class="card-body">
                <p class="card-text">
                    beyondblue aims to increase awareness of depression and anxiety and reduce stigma.
                </p>
                <p class="card-text">
                    <h4>
                        Call 1300 22 4636, 24 hours / 7 days a week.
                    </h4>
                </p>
            </div>
            <p class="card__distance">&nbsp;</p>
        </div>
    </div>
    <div class="col-lg-8 col-md-8" id="slide_div6">
        <div class="card">
            <p class="card__distance">&nbsp;</p>
            <h2 class="card-title" style="color:orangered; font:bold;">
                SANE Australia
            </h2>
            <div class="card-body">
                <p class="card-text">
                    SANE Australia provides support, training and education enabling those with a mental illness to lead a better life.
                </p>
                <p class="card-text">
                    <h4>
                        Call 1800 18 7263, 9am-5pm AEST (Mon-Fri).
                    </h4>
                </p>
            </div>
            <p class="card__distance">&nbsp;</p>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#slide_div1").animate({ left: '200px' });
        $("#slide_div2").animate({ left: '200px' });
        $("#slide_div3").animate({ left: '200px' });
        $("#slide_div4").animate({ left: '200px' });
        $("#slide_div5").animate({ left: '200px' });
        $("#slide_div6").animate({ left: '200px' });
    });
</script>