﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!--Carousel-->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
    </ol>
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active">
            <img src="@Url.Content("~/Images/banners/banner2.jpg")" alt="Mind U" style="width:100%">
            <div class="carousel-caption">
                <h1 style="font-size:40px;">Mind U</h1>
                <p style="font-size:40px;">You are not alone</p>
            </div>
        </div>
        <div class="item">
            <img src="@Url.Content("~/Images/banners/banner3.jpg")" alt="Mental Health">
            <div class="carousel-caption">
                <h1 style="font-size:40px">Mental Health</h1>
                <p style="font-size:30px">We are here to help</p>
            </div>
        </div>
    </div>
    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
    </a>
    <!--/.Carousel-->
</div>
<!-- Page Content -->
<div class="container">
    <!--Section Leisure-->
    <section class="leisure" id="leisure">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6  leisure-item">
                <div class=" box_image" style="background-color:rgba(0, 255, 255,0.7)">
                    <a href='@Url.Action("Index", "Arts")'>
                        <img class="box_img" src="@Url.Content("~/Images/boxes/art_icon.jpg")" alt="arts">
                    </a>
                    <div class="overlay">
                        <p>Art mesume,Art gallery</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6  leisure-item">
                <div class="box_image">
                    <a href='@Url.Action("Index", "Sports")'>
                        <img class="box_img" src="@Url.Content("~/Images/boxes/sports_icon.jpg")" alt="sports">
                    </a>
                    <div class="overlay">
                        <p>Yoga,Pilates...</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 leisure-item">
                <div class="box_image">
                    <a href='#'>
                        <img class="box_img" src="@Url.Content("~/Images/boxes/preference_icon.jpg")" alt="preference">
                    </a>
                    <div class="overlay">
                        <p>Customise search</p>
                    </div>
                </div>
            </div>
            <!-- /.row -->
        </div>
    </section>
    <!--.Section Leisure-->
    <!--Section Services-->
    <hr style="width:3%;">
    <section class="services" id="services">
        <div class="row">
            <div class="col-lg-4 col-md-6 services-item">
                <div class="box_image">
                    <a href='@Url.Action("Index", "Arts")'>
                        <img class="box_img" src="@Url.Content("~/Images/boxes/conditions_icon.jpg")" alt="conditions">
                    </a>
                    <div class="overlay">
                        <p>Common mental health condtions</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 services-item">
                <div class="box_image">
                    <a href='@Url.Action("Index", "Sports")'>
                        <img class="box_img" src="@Url.Content("~/Images/boxes/professional_help.jpg")" alt="professinal help">
                    </a>
                    <div class="overlay">
                        <p>Find professinal help?</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 services-item">
                <div class="box_image">
                    <a href='@Url.Action("Index", "Sports")'>
                        <img class="box_img" src="@Url.Content("~/Images/boxes/tips.jpg")" alt="tips">
                    </a>
                    <div class="overlay">
                        <p>How to help?</p>
                    </div>
                </div>
            </div>
            <!-- /.row -->
        </div>
    </section>
    <!--.Section Leisure-->
</div>
@Scripts.Render("~/Scripts/overlay_script.js")