﻿@{
    ViewBag.Title = "Mental Health Conditons";
        Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="col-lg-12 col-md-12">
        <img style="width:100%;"src="@Url.Content("~/Images/banners/data_banner.jpg")">
    </div>
    <div>
        <ol class="breadcrumb" style="background-color:transparent;">
            <li class="breadcrumb-item">
                <a href="@Url.Action("index", "Home")">
                    <img class="active" src="@Url.Content("~/Images/home_icon2.png")" style="width:25px; height:25px;">
                </a>
            </li>
            <li class="breadcrumb-item active">Mental Health Distress</li>
        </ol>
    </div>
    <div class="tab">
        <button class="tablinks" onclick="openCategory(event, 'feeling_stressed')" id="defaultOpen">Feeling stressed</button>
        <button class="tablinks" onclick="openCategory(event, 'lack_of_energy_or_motivation')">Lack of energy or motivation</button>
        <button class="tablinks" onclick="openCategory(event, 'feeling_anxious')">Feeling anxious</button>
        <button class="tablinks" onclick="openCategory(event, 'low_mood')">Low mood</button>
        <button class="tablinks" onclick="openCategory(event, 'feelings_of_hopelessness_or_worthlessness')">Feelings of hopelessness or worthlessness</button>
        <button class="tablinks" onclick="openCategory(event, 'trouble_sleeping')">Trouble sleeping</button>
        <button class="tablinks" onclick="openCategory(event, 'panic')">Panic</button>
        <button class="tablinks" onclick="openCategory(event, 'thoughts_of_selfharm_or_suicide')">Thoughts of self-harm or suicide</button>
    </div>

    <div id="feeling_stressed" class="tabcontent">
        <h3 style="font:bold;">Stress</h3>
        <p>
            An international student faces lots of stressful situations due to several causes.
        </p>
        <p>
            The main reasons for international students being stressed is Homesickness & language barriers. Being away from home, separated from friends and family, even affects his/her ability to withstand various situations like academic demands, language problem and more.

        </p>
    </div>

    <div id="lack_of_energy_or_motivation" class="tabcontent">
        <h3>Lack of Motivation</h3>
        <p>The lack of motivation that can be caused by depression and other mental illnesses can be debilitating. </p>
        <p>
            There are some things that are so important they must be done as soon as possible. But for those who battle depression, the lack of motivation can be an enemy that seems insurmountable at times.
        </p>
    </div>

    <div id="feeling_anxious" class="tabcontent">
        <h3>Anxiety</h3>
        <p>Everyone experiences anxiety and fear at times; they are normal and helpful human emotions that help us deal with danger. </p>
        <p>
            However, some people experience excessive and irrational anxiety, and worries that become ongoing and distressing and that interfere with their daily lives. This may indicate an anxiety disorder. Often there appears to be no obvious or logical reason for the way the person feels. This may make an anxiety disorder even more worrying to the sufferer. Approximately 25 percent of the population have an anxiety disorder that warrants treatment at some time in their life.
        </p>
    </div>
    <div id="low_mood" class="tabcontent">
        <h3>Low Mood</h3>
        <p>Low mood and sadness are normal human emotions. We all feel sad or low at times.</p>
        <p>
            There are lots of different words for describing these feelings, including feeling blue, unhappy, down or flat.
        </p>
        <p>
            When we experience low mood and sadness we often are affected by three types of symptoms:
            1. Unhelpful thoughts.
            2. Physical problems
            3. Changed behavior
        </p>
    </div>

    <div id="feelings_of_hopelessness_or_worthlessness" class="tabcontent">
        <h3>Feeling of worthlessness</h3>
        <p>New lifestyle, environment and high hopes can contribute to international students feeling worthless, they sometimes go into long term depression when they cannot achieve the expected goals.</p>
        <p>But, always keep in mind this is not the end of the world, there are many ways one can overcome this feeling of worthlessness, every life is valuable, and these feelings come and go from time to time.</p>
    </div>

    <div id="trouble_sleeping" class="tabcontent">
        <h3>Trouble sleeping</h3>
        <p>Insomnia, the inability to get to sleep or sleep well at night, can be caused by stress, jet lag, a health condition, the medications you take, or even the amount of coffee you drink. Insomnia can also be caused by other sleep disorders or mood disorders such as anxiety and depression.</p>
    </div>
    <div id="panic" class="tabcontent">
        <h3>Panic</h3>
        <p>
            Panic is a sudden sensation of fear, which is so strong as to dominate or prevent reason and logical thinking, replacing it with overwhelming feelings of anxiety and frantic agitation consistent with an animalistic fight-or-flight reaction.
        </p>
    </div>

    <div id="thoughts_of_selfharm_or_suicide" class="tabcontent">
        <h3>Thoughts of self-harm and suicide</h3>
        <p>In many cases self-harm is not intended to be fatal but should still be taken seriously.</p>
        <p>
            While it might seem counter-intuitive, in many cases, people use self-harm as a coping mechanism to continue to live rather than end their life. For many young people, the function of self-harm is a way to alleviate intense emotional pain or distress, or overwhelming negative feelings, thoughts, or memories. Other reasons include self-punishment, to end experiences of dissociation or numbness, or to show others how bad they feel.
        </p>
    </div>
</div>
@Scripts.Render("~/Scripts/data_script.js")
