﻿@model MindU_I2.Models.ServicesSearchInput

@{ ViewBag.Title = "Services Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
    }

<div class="container">
    <div class="img-responsive">
        <img src="@Url.Content("~/Images/banners/service.jpg")">
    </div>
    <div>
        <ol class="breadcrumb" style="background-color:transparent;">
            <li class="breadcrumb-item">
                <a href="@Url.Action("index", "Home")">
                    <img class="active" src="@Url.Content("~/Images/home_icon2.png")">
                </a>
            </li>
            <li class="breadcrumb-item active">Services Search</li>
        </ol>
    </div>
    <section class="search">
        <div class="form-inline">
            <div>
                <h3 class="text-center" style="color:white;">Find a service</h3>
            </div>
            @using (Html.BeginForm("SearchResult", "Services", FormMethod.Get, new { role = "form", @class = "form-inline" }))
            {
                <!--Category selection dropdown-->
                // 1. Store selected value in Model.Catogory; when page is rendered after postback, take selected value from Model.Catogory.
                // 2. Take list of values from Model.Categories
                // 3. Text for the first 'default' option
                //4. A class name to assign to <select> tag
                <div class="form-group">
                    <div class="col-md-12">
                        @Html.DropDownListFor(m => m.Category, Model.Categories, "- Please select a category -", new { @class = "form-control" })
                    </div>
                </div>
                @*
                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.EditorFor(m => m.Postcode, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter postcode" } })
                        </div>
                    </div>
                *@
                <div class="form-group">
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-warning">Search</button>
                    </div>
                </div>
            }
        </div>
    </section>

</div>
