﻿@model List<MindU_I2.Models.Venue>

<script src="http://maps.google.com/maps/api/js?key=AIzaSyC-XG2JrTbessPRoSMRbasmtCwBY8oR2iI&libraries=places"
        type="text/javascript"></script>

<!--List the search results-->
<div class="container">
    <div id="map" style="width: 100%; height: 500px; margin-top:1%;"></div>
    @foreach (var item in Model)
    {
        <div class="col-lg-6">
            <div class="card">
                <p class="card__distance">&nbsp;</p>
                <h4 class="card-title">
                    @item.name
                </h4>
                <div class="card-body">
                    <p class="card-text">
                        <img src="@Url.Content("~/Images/info_icons/star.png")">
                        : @item.rating (Google Rating)
                    </p>
                    <p class="card-text">
                        <img src="@Url.Content("~/Images/info_icons/map_icon.png")">
                        : @item.formatted_address
                    </p>
                    <p class="card-text">
                        <img src="@Url.Content("~/Images/info_icons/phone_icon.png")">
                        : @item.formatted_phone_number
                    </p>
                </div>
                @*<p><a class="btn btn-warning" href="@item.website">More info</a></p>*@
                <p class="card__distance">&nbsp;</p>
            </div>
        </div>
    }
</div>

<script type="text/javascript">
        var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 10,
            center: new google.maps.LatLng(-37.8274812, 144.9352466),
        mapTypeId: google.maps.MapTypeId.ROADMAP
    });

   var infowindow = new google.maps.InfoWindow();

    var marker, i;

    var jsonString = @Html.Raw(
        Json.Encode(
            (Model).Select(m=> new
            {
                name = m.name,
                lat =m.lat,
                lng = m.lng
            })
        )
    );
    for (var key in jsonString) {
       // if (jsonString.hasOwnProperty(key)) {
                marker = new google.maps.Marker({
                position: new google.maps.LatLng(jsonString[key].lat, jsonString[key].lng),
                map: map,
        });
        placeMarker(marker, map, infowindow, jsonString[key].name);
            
    }
    function placeMarker(marker, map, infowindow, name) {
        marker.addListener('click', function () {
            infowindow.setContent(name);
            infowindow.open(map, this);
        });
    }

       // }
</script>