﻿@{
    ViewBag.Title = "How to help";
        Layout = "~/Views/Shared/_Layout.cshtml";
}
@Scripts.Render("~/Scripts/Chart.min.js")
<div class="container">
    <section class="help_info">
        <div class="row">
            <div class="col-lg-5 col-md-12 col-sm-12">
                <p class="tip_content">Need some descriptionNeed some descriptionNeed some descriptionNeed some description</p>
                <p class="tip_content">Need some descriptionNeed some descriptionNeed some descriptionNeed some description</p>
                <p class="tip_content">Need some descriptionNeed some descriptionNeed some descriptionNeed some description</p>
                <p class="tip_content">Need some descriptionNeed some descriptionNeed some descriptionNeed some description</p>
                <p class="tip_content">Need some descriptionNeed some descriptionNeed some descriptionNeed some description</p>
                <p class="tip_content">Need some descriptionNeed some descriptionNeed some descriptionNeed some description</p>
            </div>
            <div class="col-lg-7 col-md-12 col-sm-12">
                <div class="chart-container" style="width:700px; height: 500px">
                    <canvas id="bar-chart"></canvas>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <p class="tip_content">NEED SOME DESCIPRITON;  NEED SOME DESCIPRITON;  NEED SOME DESCIPRITON;  NEED SOME DESCIPRITON;</p>
        </div>
        <div class="col-lg-12">
            <div class="text-center" style="margin-top:10%;">
                <iframe style="width:55vw; height: 70vh;" src="https://www.youtube.com/embed/YZGJmSdX35c" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </section>


    @Scripts.Render("~/Scripts/conditions.js")

    <!--Videos Section-->

</div>